.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}

.login > div > img {
  object-fit: contain;
  height: 150px;
  padding-right: 10px;
}

.login > button {
  width: 300px;
  background-color: black;
  color: #eff2f5;
  font-weight: 800;
}

.login > button:hover {
  background-color: gainsboro;
  color: black;
}
